<!DOCTYPE html>
<html lang="en">
<head>
    <title>3 Coloumn Layout - HTML + CSS</title>
    <style>
        section.floatEx{
            background-color: aliceblue;
            float:left;
            width: 100%;
            margin-bottom: 5px;
        }
        section.floatEx div{
            float: left;
            width: 33%;
        }
        .flexEx{
            display: flex;
            background-color: antiquewhite;
        }
        .flexEx div{
            flex: 1;
        }
    </style>
</head>
<body>
    <section class="floatEx">
        <div>1</div>
        <div>2</div>
        <div>3</div>
    </section>
    <div>
        &nbsp;
    </div>
    <section class="flexEx">
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>6</div>
    </section>
</body>
</html>